<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>bank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>bank</servlet-class>
</servlet>
<servlet>
    <servlet-name>DepositSchemeServlet</servlet-name>
    <servlet-class>bank</servlet-class>
</servlet>
<servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>bank</servlet-class>
</servlet>
<servlet>
    <servlet-name>LoanServlet</servlet-name>
    <servlet-class>bank</servlet-class>
</servlet>
<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>bank</servlet-class>
</servlet>
<servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>bank</servlet-class>
</servlet>
<servlet>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>bank</servlet-class>
</servlet>
</web-app>